# This file allows you to set the directory for Confluence to store its configuration files.
#
###########################
# Configuration Directory #
###########################

confluence.home={{ home_dir }}
