{% import_yaml "atlassian/defaults.yaml" as defaults %}

{# 
Use defaults.yaml as default configuration values
Merge keys from pillar:confluence to override
If pillar data exists 
Defaults is matched by OS Grain, base sets the common values
#}
{% set confluence = salt['grains.filter_by'](
    defaults,
    merge=salt['pillar.get']('confluence', {}),
    base='common',
    )
%}
